@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  line-height: 1.15;
}

/* ----- The classes below are specific to Material UI ----- */

.MuiRadio-root.Mui-checked {
  color: #FFA000;
}

textarea:focus-visible {
  outline: 2px solid #FFA000;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #FFA000;
}

.MuiCheckbox-root.Mui-checked {
  color: #FFA000;
}

.MuiInputLabel-root.Mui-focused {
  color: #FFA000;
}

.MuiInputLabel-root.Mui-error {
  color: #dc2626;
}

.MuiFormHelperText-root.Mui-error {
  color: #dc2626;
}

/* .MuiOutlinedInput-notchedOutline {
  border-color: yellow !important;
} */

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #dc2626;
}






